python-dotenv==1.2.3
ruff==0.16.9
qdrant-client==1.19.1
logfire==5.1.0
google-genai==1.75.0
fastembed==0.8.0
pypdf==6.19.0
beautifulsoup4==4.15.0
FlashRank==0.2.10
langchain-groq==1.1.3
requests==2.34.2
nemoguardrails==0.24.1
